<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title - TicTacToe</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>

  <environment include="Staging">
    <script src="~/js/site.min.js"></script>
  </environment>
  <environment include="Development">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/js/script1.js"></script>
    <script src="~/js/script2.js"></script>
  </environment>
  <environment exclude="Development">
    <link href="~/css/bootstrap.min.css" rel="stylesheet"
          asp-fallback-test-class="sr-only"
          asp-fallback-test-property="position"
          asp-fallback-test-value="absolute" />
    <link href="~/css/site.css" rel="stylesheet"
          asp-append-version="true" />
  </environment>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#navbarColor03"
              aria-controls="navbarColor03" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a asp-area="" asp-controller="Home" asp-action="Index" 
         class="navbar-brand">Tic-Tac-Toe</a>
      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Select your language (@ViewBag.Language)</a>
              <a asp-controller="Home" asp-action="SetCulture"
                 asp-route-culture="EN" class="dropdown-item">English</a>
              <a asp-controller="Home" asp-action="SetCulture"
                 asp-route-culture="FR" class="dropdown-item">French</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
      <p>&copy; 2017 - TicTacToe</p>
    </footer>
  </div>
  @RenderSection("Scripts")
</body>
</html>
